---
import Breadcrumb from "../Breadcrumb.astro";
---

<div class="content-container">
  <div class="main-pane">
    {
      Astro.locals.starlightRoute.hasSidebar && (
        <div class="breadcrumb-container">
          <Breadcrumb />
        </div>
      )
    }

    <slot />
  </div>
  {
    Astro.locals.starlightRoute.toc && (
      <aside class="right-sidebar-container print:hidden">
        <div class="right-sidebar">
          <slot name="right-sidebar" />
        </div>
      </aside>
    )
  }
</div>

<style>
  @layer starlight.core {
    .content-container {
      width: 100%;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    .main-pane {
      /* isolation: isolate; */
      width: 100%;
    }

    .breadcrumb-container {
      padding-top: 0.75rem;
      margin-bottom: -0.5rem;
    }

    :global([data-has-sidebar][data-has-toc]) .main-pane {
      overflow: hidden;
    }

    @media (min-width: 72rem) {
      :global([data-has-sidebar][data-has-toc]) .content-container {
        display: grid;
        grid-template-columns: 1fr auto;
        overflow: visible;
      }
      .right-sidebar-container {
        order: 2;
        position: relative;
      }

      .right-sidebar {
        position: sticky;
        inset-block: calc(var(--sl-nav-height) + 110px) 0;
        width: 100%;
        overflow-y: auto;
        scrollbar-width: none;
      }
      .right-sidebar::-webkit-scrollbar {
        display: none;
      }

      :global([data-has-sidebar][data-has-toc]) .main-pane {
        --sl-content-margin-inline: auto 0;

        order: 1;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        border-left: 1px solid var(--sl-color-hairline) !important;
        border-right: 1px solid var(--sl-color-hairline) !important;
      }
      :global([data-has-sidebar][data-has-toc]) .main-pane::-webkit-scrollbar {
        display: none;
      }
    }
  }
</style>

<script>
  const contentContainer = document.querySelector(
    ".content-container"
  ) as HTMLElement;

  if (contentContainer) {
    contentContainer.style.opacity = "1";
  }
</script>
