---
const { title, description } = Astro.props;
---

<section class="section">
  <div class="text-center mb-16">
    {title && <h2 class="section-title mb-4">{title}</h2>}
    {description && <p class="section-description">{description}</p>}
  </div>

  <div>
    <slot />
  </div>
</section>
