---
---

<section class="hire-gia-response__section" data-guide-response hidden>
  <div class="hire-gia-response__lead">
    <p data-guide-intro></p>
  </div>

  <div class="hire-gia-response__group">
    <h4>Relevant evidence from the site</h4>
    <div data-guide-evidence></div>
  </div>

  <div class="hire-gia-response__group">
    <h4>Best pages to review next</h4>
    <div data-guide-next-pages></div>
  </div>

  <div class="hire-gia-response__group" data-guide-limits-wrap hidden>
    <h4>Limits / confidence note</h4>
    <p data-guide-limits></p>
  </div>
</section>
